 /* Seu CSS personalizado começa aqui */
 .post {
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.post-header {
    padding: 20px;
    text-align: center;
    background-color: #65647C;
    color: #F1D3B3;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.post-title {
    font-size: 36px;
    margin-bottom: 10px;
}

.post-description {
    font-size: 18px;
    margin-bottom: 20px;
}

.post-content {
    padding: 20px;
    text-align: center;
    background-color: #8B7E74;
    color: #000;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* Animações */
.feature:hover, .btn:hover {
    background-color: #C7BCA1;
    transform: translateY(-5px);
}

.post:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

/* Ajustes nos espaçamentos e margens para melhor organização */
.services, .products {
    margin-top: 20px;
}

.services, .products, .post-content {
    margin-bottom: 20px;
}
/* Seu CSS personalizado termina aqui */