<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{titulo}}</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/estilo.css')}}">
</head>
<body>
    <header>
        <nav>
            <a href="/">Pagina inicial</a>
            <a href="/sobre">Sobre</a>
            <a href="/contatos">Contato</a>
        </nav>

    {% block conteudo %}

    {% endblock %}



    <footer>
        <p>Rodapé - © 2023</p>
    </footer>
</body>
</html>