{% extends 'base.html' %}
{% block conteudo %}
    <div class="container">
        <h1>Olá, mundo!</h1>
        <p>Seja bem-vindo ao nosso site comercial. Aqui você encontra as melhores soluções para o seu negócio.</p>
        <a href="meu_curriculo.pdf" class="btn" style="background-color: #ff6347;">Descubra mais</a>
        <div class="feature" style="background-color: #28a745;">Frete grátis</div>
        <div class="feature" style="background-color: #17a2b8;">Suporte 24/7</div>
    </div>
</body>
</html>
{% endblock %}