{% extends 'base.html' %}
{% block conteudo %}
    <div class="container">
        <h1 class="title">Bem-vindo ao meu mundo</h1>
        <p class="description">Ainda novo no mundo de propragamação.</p>
        <div class="feature feature-green">
            <a href="#" class="btn">Projetos</a>
        </div>
        <div class="feature feature-blue">
            <a href="meu_curriculo.pdf" class="btn">Curriculo</a>
        </div>
        <div class="feature feature-blue">
            <a href="#" class="btn">Certificados</a>
        </div>

        <section class="services">
            <h2>Aluno de programação</h2>
            <p></p>
        </section>

        <section class="products">
            <h2>Meus projetos:</h2>
            <ul>
                <li>Projeto 1:</li>
            </ul>
        </section>
    </div>
{% endblock %}
